#quench-results #quench-suite-groups {
    flex: 1 0 0;
    font-size: .9rem;
    overflow: auto;
    white-space: nowrap;
}

#quench-results .suite-group > label {
    width: 100%;
    display: block;
    border: 1px #00000055 solid;
    background-color: #00000033;
    border-radius: 4px;
    margin: 2px 0;
    font-weight: bold;
}

#sidebar .quench-button {
    flex: 0;
    margin: 5px;
    width: auto;
}

#quench-results #quench-run {
    flex: 0;
    width: auto;
    font-weight: bold;
}

#quench-results li.suite-group input[type="checkbox"] {
    width: unset;
    height: unset;
}

#quench-results ul {
    list-style-type: none;
    margin: .15em;
    padding-left: .75em;
}

#quench-results li.suite-group > .expandable > ul.runnable-list {
    margin-left: 11px;
}

#quench-results ul.runnable-list {
    border-left: 1.5px #00000033 dotted;
}

#quench-results #quench-suite-groups > ul {
    padding-left: 0;
}

#quench-results li > .summary > *:not(:first-child) {
    margin-left: .2rem;
    font-weight: bold;
}

#quench-results li > .summary > .status-icon:not(".fa-sync") {
    font-weight: normal;
}

#quench-results li > .expandable {
    white-space: normal;
}

#quench-results li > .expandable > .error-message {
    margin: .4em;
    background-color: #99000033;
    padding: 10px;
    border-radius: 4px;
    border: 1px #99000088 solid;
    font-family: monospace;
    font-size: .7rem;
    user-select: text;
}

#quench-results .type-icon {
    width: 15px;
    max-width: 15px;
}

#quench-results .expander {
    width: 10px;
    cursor: pointer;
}

#quench-results #quench-results-stats {
    flex: 0;
}

#quench-results #quench-results-stats div.stats > * {
    margin: 4px 0;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px #000000AA solid;
    background: #00000033;
    font-weight: bold;
}

#quench-results #quench-results-stats div.stats > .stats-fail {
    border-color: #990000AA;
    background: #99000033;
}

#quench-results #quench-results-stats div.stats > .stats-pass {
    border-color: #009900AA;
    background: #00990033;
}

#quench-results .summary > i.status-icon.fa-times-circle {
    color: #990000;
}

#quench-results .summary > i.status-icon.fa-check-circle {
    color: #009900;
}

#quench-results .summary > i.status-icon.fa-sync {
    color: #AA8800;
}
