#quench-results #quench-batches {
  flex: 1 0 0;
  font-size: var(--font-size-14, 0.9rem);
  overflow: auto;
  white-space: nowrap;
}

#quench-results .test-batch > label {
  width: 100%;
  display: block;
  border: 1px #00000055 solid;
  background-color: #00000033;
  border-radius: 4px;
  margin: 2px 0;
  font-weight: bold;
}

#sidebar .quench-button {
  flex: 0;
  margin: 5px;
  width: auto;
}
#sidebar.collapsed .quench-button {
  flex: 0 0 24px;
  background: transparent;
  border: none;
  color: var(--color-text-light-highlight);
  margin: 2px;
}
#sidebar.collapsed .quench-button .button-text {
  display: none;
}
#sidebar.collapsed .quench-button:hover {
  box-shadow: none;
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
#sidebar.collapsed .quench-button:focus {
  box-shadow: none;
}

#quench-results .button-container {
  flex: 0;
  display: flex;
  flex-direction: row;
}

#quench-results .button-container button {
  flex: 1;
}

#quench-results .button-container button#quench-run {
  font-weight: bold;
}

#quench-results li.test-batch input[type="checkbox"] {
  width: unset;
  height: unset;
}

#quench-results ul {
  list-style-type: none;
  margin: 0 5px;
  padding-left: 0.75em;
}

#quench-results ul#quench-batches-list {
  padding-left: 0;
}

#quench-results li.test-batch > .expandable > ul.runnable-list {
  margin-left: 11px;
}

#quench-results ul.runnable-list {
  border-left: 1.5px #00000033 dotted;
}

#quench-results #quench-test-batches > ul {
  padding-left: 0;
}

#quench-results li > .summary {
  white-space: nowrap;
  padding-right: 50px;
}

#quench-results li > .summary > *:not(:first-child) {
  margin-left: 0.2rem;
  font-weight: bold;
}

#quench-results li > .summary > .status-icon:not(".fa-sync") {
  font-weight: normal;
}

#quench-results li > .expandable {
  white-space: normal;
}

#quench-results li > .expandable > .error {
  margin: 0.4em;
  background-color: rgba(255, 190, 190, 0.25);
  padding: 10px;
  border-radius: 4px;
  border: 1px #99000088 solid;
  font-family: var(--font-mono, monospace);
  font-size: var(--font-size-11, 0.7rem);
  user-select: text;
  white-space: pre-wrap;
}

#quench-results li > .expandable > .error .actual {
  color: #aa0200;
}
#quench-results li > .expandable > .error .expected {
  color: #006100;
}
#quench-results li > .expandable > .error .unchanged {
  color: var(--color-text-dark-secondary);
}

#quench-results li > .expandable > .error > .diff {
  padding-top: 0.5em;
}

#quench-results li > .expandable > .error > *,
#quench-results li > .expandable > .error > .diff > * {
  user-select: text;
}

#quench-results .type-icon {
  width: 15px;
  max-width: 15px;
  text-align: center;
}

#quench-results .expander {
  width: 12px;
  text-align: center;
  cursor: pointer;
}

#quench-results #quench-results-stats {
  flex: 0;
}

#quench-results #quench-results-stats div.stats > * {
  margin: 4px 0;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px #000000aa solid;
  background: #00000033;
  font-weight: bold;
}

#quench-results #quench-results-stats div.stats > .stats-fail {
  border-color: #990000aa;
  background: #99000033;
}

#quench-results #quench-results-stats div.stats > .stats-pass {
  border-color: #009900aa;
  background: #00990033;
}

.quench-hidden {
  visibility: hidden;
}
#quench-results .summary > i.status-icon.fa-times-circle {
  color: #990000;
}

#quench-results .summary > i.status-icon.fa-check-circle {
  color: #009900;
}

#quench-results .summary > i.status-icon.fa-minus-circle {
  color: #6622ff;
}

#quench-results .summary > i.status-icon.fa-sync {
  color: #aa8800;
}
