<div>
    <div id="mocha-suites">
        <ul>
            {{#each fixtures}}
                <li><input name="{{this.name}}" type="checkbox" /> <label for="{{this.name}}">{{this.displayName}}</label></li>
            {{/each}}
        </ul>
    </div>
    <hr />
    <div id="mocha"></div>
    <button id="mocha-run">Run</button>
</div>
